#audio1{
 background-color: #1125FF7A;
}
#audio2 {
 position: absolute;
 top:400px;
 
}
body{
 background-color: #FF1111;
}
h1{
 text-align: center;
 font-size: 70px;
 color :#11FFA6;
}
marquee{
 font-size: 20px;
 color: #11DEFF;
}#aidiolast{
 
}